.row {
	background: rgba(225, 228, 255, 0.7);
	margin: 15px auto;
	padding: 0;
	border: 2px solid black;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	
}
.col-sm-4 {
	text-align: center;
	ul li{
	list-style-type: none;
}
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(/images/sea.jpg);
	background-position: absolute;
     
}