$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

@mixin font-family($font-family) {
  -webkit-font-family: $font-family;
  -moz-font-family: $font-family;
  -ms-font-family: $font-family;
  font-family: $font-family;

}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;    
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.jumbotron, .header, .social, .row {@include border-radius(10px); }
body { @include font-family(Tahoma); }
.browsehappy {
    margin: 0 auto;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(/images/clouds.jpg);
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h1 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        color: black;
        text-align: center;
        font-size: 50px;
    }
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border: 1px solid black;
    margin: 20px auto;
    img {
        width: 100%;
        border: 3px solid black;
    }
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        background-color: rgba(225, 228, 255, 0.7);
        margin-top: 30px;
        padding-top:20px;
        // border-radius: 10px;
        border: 1px solid black;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
        // border: 2px solid black;
        background-color: rgba(225, 228, 255, 0.7);
        margin: 0 auto;
        // border-radius: 30px;
    }
}
ul.nav-pills li a{
    color: black;
}

.social{
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    padding: 0px;
    border: 2px solid black;
    background-color: #121e3c;
    // border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    a>img{
        width: 90px;
        height: 90px;
        padding: 10px 1px;
        position: relative;
        left: 100px;
        -webkit-transition: all 1s ease;
        // border-radius: 10px;

}
}

.social img:hover {
    -webkit-transition: all 2s ease;
    border-radius: 100%;
    opacity: 1;
    
}


